{% extends 'GamesGameBundle::layout.html.twig' %}

{% block body %}

    <header>
        <h1>Press<a href="{{ path('games_game_parse') }}"><button>Parse</button></a></h1>
        2015 season in JSON format.<br>
        Now it's hardcoded but in future can add dropdown to change season amd format
        <h2>or look schdule :</h2>
    </header>
    <article class="game">
        {{ form_start(form, { name: 'game', 'action': path('games_game_schedule'), 'method': 'POST', 'attr': {'class': 'games'} }) }}
        {{ form_errors(form) }}

        {#{{ form_row(form.stadiumid) }}#}
        input MIN here
        {{ form_row(form.hometeam) }}
        input TOR here
        {{ form_row(form.awayteam) }}
        {#{{ form_rest(form) }}#}
        <p>Other needed params if needed for ex.</p>
        {{ form_row(form.stadiumid) }}
        <input type="submit" value="Submit"/>
        {#{{ form_end(form) }}#}
    </article>

{% endblock %}




